{{ form_start(form) }}

<div class="row py-5">
    <div class="col-4 py-3">
        <label for="inputName">Nombre</label>
        {{ form_widget(form.name, { 'attr': {'id': 'inputName','placeholder':"Introduce el nombre del equipo", 'class':'form-control rounded-0 p-2'} }) }}
    </div>
    <div class="col-8 py-3">
        <label for="inputShield">Escudo</label>
        {{ form_widget(form.shield, { 'attr': {'id': 'inputShield', 'class':'form-control rounded-0 p-2'} }) }}
    </div>
    <div class="col-1 py-3 d-flex align-items-end">
        <button class="btn btn-primary rounded-0 primary-font-cvc p-2 w-100">{{ button_label|default('Crear') }}</button>
    </div>
    <div class="col-2 py-3 d-flex align-items-end">
        <a href="{{ path('app_team_index') }}" class="btn bg-secondary-cvc primary-font-cvc rounded-0 p-2 w-100">Volver a la lista <i class="bi bi-arrow-return-left"></i></a>
    </div>
</div>

{{ form_end(form) }}
