{% extends 'base_cvc_back.html.twig' %}

{% block title %}Equipos - CVC{% endblock %}

{% block body %}
<div class="py-5 px-2">
    <div class="d-flex align-items-center justify-content-between py-3">
        <h2 class="m-0 border-bottom border-success text-primary-cvc secondary-font-cvc d-flex align-items-center">Equipos  <i class="bi bi-shield-shaded"></i></h2>
        <div class="d-flex position-relative">
            <i class="bi bi-search position-absolute start-0 top-50 ms-4 text-quaternary-cvc translate-middle opacity-75"></i>
            <input type="text" name="team_searcher" placeholder="Busca un registro aquí" id="team_searcher" class="form-control rounded-0 ps-5">
            <a href="{{ path('app_team_new') }}" class="btn btn-success rounded-0 d-flex align-items-center">Añadir <i class="bi bi-plus fs-4"></i></a>
        </div>
    </div>

    <table class="table table-dark shadow">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Escudo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.shield }}</td>
                <td>
                    <a href="{{ path('app_team_show', {'id': team.id}) }}" class="btn bg-info rounded-0"><i class="bi bi-eye-fill"></i></a>
                    <a href="{{ path('app_team_edit', {'id': team.id}) }}" class="btn btn-primary rounded-0"><i class="bi bi-pencil-square"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center my-2 ">
            <li class="page-item {% if teams.currentPageNumber == 1 %}disabled{% endif %}">
                <a class="page-link bg-primary-cvc primary-border-cvc text-quaternary-cvc"
                   href="{% if teams.currentPageNumber > 1 %}{{ path('app_team_index', {'page': teams.currentPageNumber - 1}) }}{% endif %}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for page in 1..teams.pageCount %}
                <li class="page-item bg-primary-cvc text-quaternary-cvc">
                    {% if page == teams.currentPageNumber %}
                        <a class="page-link bg-primary-cvc primary-border-cvc text-quaternary-cvc fw-bold bg-opacity-75" href="{{ path('app_team_index', {'page': page}) }} ">{{ page }}</a>
                    {% else %}
                        <a class="page-link bg-quaternary-cvc primary-border-cvc text-primary-cvc" href="{{ path('app_team_index', {'page': page}) }} ">{{ page }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            <li class="page-item {% if teams.currentPageNumber == teams.pageCount %}disabled{% endif %}">
                <a class="page-link bg-primary-cvc primary-border-cvc text-quaternary-cvc"
                   href="{% if teams.currentPageNumber < teams.pageCount %}{{ path('app_team_index', {'page': teams.currentPageNumber + 1}) }}{% endif %}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
