{% extends 'base_cvc.html.twig' %}

{% block title %}Página de Inicio - CVC{% endblock %}

{% block body %}
    <div class="row py-5" data-controller="search">
        <div class="col-12">
            <h1 class="display-4 secondary-font-cvc text-primary-cvc text-center">Busca tus jugadores favoritos</h1>
        </div>
        <div class="col-12 p-4 my-3">
            <input type="text" id="indexSearcher" name="home-searcher" placeholder="Busca aquí tus jugadores favoritos" class="form-control rounded-0" data-target="search.inputSearch">
            <div class="list-group rounded-0" data-target="search.results">
                {% for player in players %}
                    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" aria-current="true">
                        <a href="http://localhost:8080/preview/player/{{ player.id }}"><span class="w-75">{{ player.name }} {{ player.lastname }}</span></a>
                        <div class="w-25 d-flex">
                            <div class="text-center w-25">{{ player.position }}</div>
                            <div class="w-75"> {{ player.team.name }}</div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
