<div class="row shadow py-3">
    <div class="col-12 col-sm-5">
        <div class="d-flex flex-sm-column flex-row justify-content-center align-items-lg-end align-items-center gap-3">
            <a href="#" class="text-primary-cvc link-offset-2">Contacto</a>
            <a href="{{ path('app_aboutUs') }}" class="text-primary-cvc link-offset-2">Sobre Nosotros</a>
            <a href="{{ path('app_logout') }}" class="text-primary-cvc link-offset-2">Cerrar Sesión</a>
        </div>
    </div>
    <div class="col-12 col-sm-2 d-flex flex-column justify-content-center align-items-lg-center align-items-center gap-3 my-3">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('src/logoCVC-300x100-verd.png') }}" alt="logo-cvc" width="100px">
        </a>
        <p class="m-0 py-3 d-none d-lg-block text-center">Javier Ramos Fuentes</p>
    </div>
    <div class="col-12 col-sm-5">
        <div class="d-flex flex-sm-column flex-row justify-content-center align-items-lg-start align-items-center gap-3">
            <a href="{{ path('app_cookies') }}" class="text-primary-cvc link-offset-2">Cookies</a>
            <a href="{{ path('app_faq') }}" class="text-primary-cvc link-offset-2">FAQ</a>
            <a href="#" class="text-primary-cvc link-offset-2">Sobre Nosotros</a>
        </div>
    </div>
    <!-- Cuadrados hacia arriba -->
    <div class="col-12 d-flex justify-content-center flex-row gap-3 my-3 my-lg-1">
        <div class="hovered-button-up instagram-after">
            <a href="https://www.instagram.com/"><i class="bi bi-instagram text-primary-cvc"></i></a>
        </div>
        <div class="hovered-button-up twitter-after">
            <a href="https://x.com/?lang=es"><i class="bi bi-twitter-x text-primary-cvc"></i></a>
        </div>
        <div class="hovered-button-up youtube-after">
            <a href="https://www.youtube.com/?hl=es&gl=ES"><i class="bi bi-youtube text-primary-cvc"></i></a>
        </div>
        <div class="hovered-button-up telegram-after">
            <a href="https://web.telegram.org/k/"><i class="bi bi-telegram text-primary-cvc"></i></a>
        </div>
    </div>
</div>