{% extends 'base_cvc_back.html.twig' %}

{% block title %}Coach index{% endblock %}

{% block body %}
    <div class="py-5 px-2">
        <div class="d-flex align-items-center justify-content-between py-3">
            <h2 class="m-0 border-bottom border-success text-primary-cvc secondary-font-cvc d-flex align-items-center">Entrenadores <i class="bi bi-easel2-fill mx-3"></i></h2>
            <div class="d-flex">
                <input type="text" name="coach_searcher" placeholder="Busca un registro aquí" id="coach_searcher" class="form-control rounded-0">
                <a href="{{ path('app_coach_new') }}" class="btn btn-success rounded-0 d-flex align-items-center">Añadir <i class="bi bi-plus fs-4"></i></a>
            </div>
        </div>
        <table class="table table-dark shadow">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for coach in coaches %}
                <tr>
                    <td>{{ coach.name }}</td>
                    <td>{{ coach.lastname }}</td>
                    <td>
                        <a href="{{ path('app_coach_show', {'id': coach.id}) }}" class="btn bg-info rounded-0"><i class="bi bi-eye-fill"></i></a>
                        <a href="{{ path('app_coach_edit', {'id': coach.id}) }}" class="btn btn-primary rounded-0"><i class="bi bi-pencil-square"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No se encontraron registros</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
